olock
*.o
tags
*.sw*
*.gz
*~

# automake
Makefile
Makefile.in
/ar-lib
/test-driver

# autoconf
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/config.guess
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
